// link
.tiger-link {
  color: @brand-primary;
  &:hover {
    text-decoration: none;
  }
  &:hover, &:focus {
    color: darken(@brand-primary, 5%);
  }
}

//alert
.tiger-alert {
  &.alert {
    padding: 7px 10px 7px 15px;
  }
  &.alert-warning {
    color: @brand-danger;
  }
}

//popover
.tiger-popover{
  min-height: 55px;
  padding: 10px 12px;
  position: relative;
  .popover-text{
    float: left;
    padding-right: 60px;
  }
  .popover-image{
    position: absolute;
    top: -30px;
    right: 10px;
    width:60px;
    height: 80px;
    background: url('../images/popover/mishu.png')
  }
  .popover-close{
    position: absolute;
    top: -8px;
    right: -8px;
    color:#888;
    cursor: pointer;
    &:hover {
      color: #000;
    }
  }
}
